body {
  padding-bottom: 0;
  padding-top: 0;
}
h1, h2, p {
  font-family: sans-serif;
  text-align: center;
}
.leaflet-container {
  height: 2000px;
  width: 2000px;
  margin: 0 auto;
}

.custom-popup .leaflet-popup-content-wrapper {
  background:#2c3e50;
  color:#fff;
  font-size:12px;
  line-height:24px;
  border-radius: 0;
  width: 500px;

  }

  .custom-popup .leaflet-popup-tip {
  background: #2c3e50;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    color: blue;
  }