/*Pop up window*/
.custom-popup .leaflet-popup-content-wrapper {
  background:#2c3e50;
  color:#fff;
  font-size:12px;
  /* line-height:24px; */
  border-radius: 0;
  width: 500px;

  }

  .custom-popup .leaflet-popup-tip {
  background: #2c3e50;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    color: blue;
  }
  /* Hides Arrow Pointing to Marker */
/* .custom-popup .leaflet-popup-tip {
    background: transparent;
    border: none;
    box-shadow: none;
  } */